/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
#.env - multiple keys, configurations are leaked, but this project is just for school, and team members need to have the same .env file
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
